<div class="formWrapper">
    <div class="container">
        <form [formGroup]="customForm" >
            <input formControlName="password" [type]="passVisibility ? 'text':'password'" (input)="getColorsToProgressBar()">
            <span *ngIf="passVisibility === true" class="material-symbols-outlined colorForIcon" (click)="changePassVisibility()">visibility</span>
            <span *ngIf="passVisibility === false" class="material-symbols-outlined colorForIcon" (click)="changePassVisibility()">visibility_off</span>
            <div class="progressBar">
                <div class="progressBarItem" [ngClass]="colorItem1"></div>
                <div class="progressBarItem" [ngClass]="colorItem2"></div>
                <div class="progressBarItem" [ngClass]="colorItem3"></div>
            </div>
        </form>
    </div>    
</div>
