

input{
    background: #2B2440;
    border:2px solid #FF585F;
    border-radius: 12px;
    color:#fff;
    font-size: 18px;
    height: 25px;
}
span{
    position: absolute;
    right:10px;
    top:3px;
    cursor: pointer;
    user-select: none;
}
.colorForIcon{
    color:#fff;
}

.progressBar{
    margin-top: 20px;
    display:flex;
    justify-content: space-evenly;
    .progressBarItem{
        width:70px;
        height: 10px;
        background-color: gray;
    }
    .gray{
        background-color: gray;
        transition: background-color .5s;
    }
    .red{
        background-color: red;
        transition: background-color .5s;
    }
    .yellow{
        background-color: yellow;
        transition: background-color .5s;
    }
    .green{
        background-color: green;
        transition: background-color .5s;
    }
}